[package]
name = "desktop-tauri-backend"
version = "0.1.0"
edition = "2021"

[workspace]

[features]
default = []
tauri-app = []

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
tauri = { version = "2", features = [] }
