[package]
name = "storage"
version = "0.1.0"
edition = "2021"
license = "MIT"

[dependencies]
ipc = { path = "../ipc" }
directories = "5"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[dev-dependencies]
tempfile = "3"
